@use "abstracts/functions" as functions;
@use "abstracts/colors" as colors;
@use "abstracts/fonts" as fonts;

.page {
  position: relative;
  background-color: colors.$black;
  height: 100vh;
  text-align: center;
  padding: functions.responsive-size(2.75rem, 3.25rem, 4vw)
    functions.responsive-size(5.5rem, 6.5rem, 10vw);

  h1,
  h2 {
    color: colors.$white;
    font-size: fonts.$title-size;
    margin: 0;
  }
}
