@use "abstracts/functions" as functions;
@use "abstracts/colors" as colors;
@use "abstracts/fonts" as fonts;

ion-app {
  --page-padding: 28px;

  .page {
    position: relative;
    background-color: colors.$black;
    height: 100vh;
    text-align: center;
    padding: functions.responsive-size(1.75rem, 2.5rem, 2.5vw);

    h3,
    h2 {
      color: colors.$white;

      margin: 0;
    }

    h2 {
      font-size: fonts.$title-size;
    }

    h3 {
      font-size: fonts.$subtitle-size;
    }

    .large-container {
      margin: 0 auto;
      width: functions.responsive-size(20rem, 30rem, 45vw);
    }
  }
}
