@use "abstracts/functions" as functions;
@use "abstracts/colors" as colors;
@use "abstracts/fonts" as fonts;

ion-app {
  --page-padding: 28px;

  .page {
    position: relative;
    background-color: colors.$black;
    height: 100vh;
    text-align: center;
    padding: functions.responsive-size(2rem, 3rem, 3.5vw)
      functions.responsive-size(2.5rem, 3rem, 7vw);

    h2 {
      color: colors.$white;
      font-size: fonts.$title-size;
      margin: 0;
    }

    .large-container {
      margin: 0 auto;
      width: functions.responsive-size(20rem, 25rem, 40vw);
    }
  }
}
