@use "abstracts/functions" as functions;

app-game-bar ion-list.game-bar {
  background-color: transparent;
  padding: 0;
  border: 0;

  ion-item {
    &:nth-child(2) {
      margin: 0 2vw;
    }

    button,
    ion-badge {
      font-size: functions.responsive-size(1rem, 1.125rem, 0.2vw);
    }

    ion-badge {
      background-color: transparent;
    }
  }
}
