@use "abstracts/functions" as functions;

main app-score ion-list.score {
  background-color: transparent;
  padding: 0;
  border: 0;

  ion-item {
    &:nth-child(2) {
      margin: 0 2vw;
    }

    ion-badge {
      background-color: transparent;
    }
  }
}
