@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;

.page {
  @include mixins.flex-column;
  .selects-container {
    margin: 0 auto;
    width: functions.responsive-size(20rem, 25rem, 42.3vw);
    .select:not(:last-child) {
      display: block;
      margin-bottom: functions.responsive-size(0.9rem, 1.1rem, 0.11vw);
    }
  }
}
