@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;

.page {
  @include mixins.flex-column;

  .selects-container {
    margin: 0 auto;
    width: functions.responsive-size(18rem, 21rem, 35vw);

    .select:not(:last-child) {
      display: block;
      margin-bottom: functions.responsive-size(1.33rem, 2rem, 0.33vw);
    }
  }
}
