@use "abstracts/mixins" as mixins;
@use "abstracts/colors" as colors;

:host {
  width: 3.5%;
  max-width: 20px;
  position: absolute;
  transform: translate(-50%, 50%);
  aspect-ratio: 1/1;
  span {
    width: 100%;
    height: 100%;
  }
}
