<main class="page credits">
  <h2>{{ "CREDITS" | translate }}</h2>
  <section class="large-container description">
    <p>{{ "RETROPONG_INFO" | translate }}</p>
  </section>
  <section class="large-container support">
    <h3>{{ "SUPPORT" | translate }}</h3>
    <ul>
      <!-- TODO: links and icons -->
      <li>
        <span>{{ "PAYPAL" | translate }}</span
        ><span></span>
      </li>
      <li>
        <span>{{ "GITHUB" | translate }}</span
        ><span></span>
      </li>
    </ul>
  </section>
  <app-back></app-back>
</main>
