@use "abstracts/mixins" as mixins;

main {
  h2 {
    margin: 0 0 1.75rem 0;
  }
  section {
    @include mixins.flex-column(flex-end);
    text-align: start;
    p.description {
      display: block;
      padding: 0;
      margin: 0 0 2rem 0;
      line-height: 1.75;
    }
    .support {
      width: 100%;

      h3 {
        margin: 0 0 1rem 0;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        @include mixins.flex-row();

        li {
          @include mixins.flex-row();
        }
      }
    }
  }
}
