@use "abstracts/functions" as functions;

$bold: 600;
$extra-bold: 700;

$button-size: functions.responsive-size(0.95rem, 1rem, 0.175vw);
$title-size: functions.responsive-size(1.33rem, 1.66rem, 0.95vw);
$subtitle-size: functions.responsive-size(1.125rem, 1.33rem, 0.85vw);
