@use "abstracts/colors" as colors;

@mixin flex-column($justify: space-between) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: $justify;
}

@mixin flex-row($justify: space-between) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: $justify;
}

@mixin icon($icon) {
  display: inline-block;
  background-color: colors.$white;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("^assets/icons/#{$icon}.svg");
}
