@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;
@use "abstracts/colors" as colors;

@font-face {
  font-family: "Fundstueck";
  src: url("^assets/fonts/fundstueck.woff") format("woff");
}

.dory-theme {
  $dory-font: "Fundstueck", monospace;
  $dory-black: #081831;
  $dory-white: #ffffff;

  $dory-gradient: #1af84b 1%, #1af84b 2%, #2f2fff 2%, #2f2fff 3%, #3cbdff 3%,
    #3cbdff 4%, #8d06f6 4%, #8d06f6 5%, #e61af8 5%, #e61af8 6%, #f2f606 6%,
    #f2f606 7%, #ff7b31 7%, #ff7b31 8%;

  $dory-background: linear-gradient(
    90deg,
    $dory-black 0%,
    lighten($dory-black, 3%) 50%,
    $dory-black 100%
  );

  &,
  button {
    font-family: $dory-font;
    color: $dory-white;
  }

  button {
    text-transform: uppercase;
    line-height: 0.8;
    font-size: functions.responsive-size(1.33rem, 2rem, 1vw);
  }

  ion-alert .alert-wrapper {
    background-color: $dory-black;

    .alert-head h2 {
      font-family: $dory-font;
    }

    .alert-button-group button {
      color: $dory-white;
    }
  }

  .ion-page {
    width: 100%;
    height: 100vh;
    padding: var(--page-padding);
    background: $dory-background;

    app-game-bar ion-list.game-bar ion-item {
      button,
      ion-badge {
        font-size: functions.responsive-size(1.33rem, 2rem, 1.66vw);
      }
      ion-badge {
        font-family: $dory-font;
        color: $dory-white;
      }
    }

    .page {
      position: relative;
      background-color: transparent;
      border: 3px solid;
      border-image-slice: 1;
      border-image-source: repeating-conic-gradient($dory-gradient);

      &.home {
        .logo {
          background-image: url("^assets/icons/dory/title.svg");
        }

        nav {
          width: 25%;

          a,
          button {
            width: 100%;
          }

          a {
            padding-bottom: functions.responsive-size(1rem, 1.5rem, 1.75vw);
          }
        }
      }

      h2 {
        text-transform: lowercase;
      }

      .select {
        button {
          position: relative;

          &::before,
          &::after {
            position: absolute;
            font-size: 0.66rem;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: ">";
            right: -1rem;
          }

          &::before {
            content: "<";
            left: -1rem;
          }
        }
      }

      .playground {
        app-paddle {
          height: 30%;

          &:first-of-type div {
            background-image: url("^assets/icons/dory/paddle-left.svg");
          }
          &:last-of-type div {
            background-image: url("^assets/icons/dory/paddle-right.svg");
          }
        }

        app-ball {
          width: 3%;
          div {
            background-image: url("^assets/icons/dory/ball.svg");
          }
        }

        app-artifact span {
          $icons: ("enlarge", "reduce", "shield");
          @each $icon in $icons {
            &.#{$icon} {
              background-image: url("^assets/icons/dory/#{$icon}.svg");
              display: inline-block;
            }
          }
        }

        app-shield div {
          width: clamp(0.33rem, 0.45vw, 0.66rem);
          background: repeating-linear-gradient($dory-gradient);
        }

        .goal {
          font-size: functions.responsive-size(5rem, 6rem, 5vw) !important;
          margin-top: -2.5vw;
        }
      }
    }
  }
}
