@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;
@use "abstracts/colors" as colors;

.dory-theme {
  $dory-text: "Press Start 2P", monospace;
  $dory-black: #081831;
  $dory-white: #ffffff;
  $playground-border-width: 2px;

  $dory-gradient: #1af84b 1%, #1af84b 2%, #2f2fff 2%, #2f2fff 3%, #3cbdff 3%,
    #3cbdff 4%, #8d06f6 4%, #8d06f6 5%, #e61af8 5%, #e61af8 6%, #f2f606 6%,
    #f2f606 7%, #ff7b31 7%, #ff7b31 8%, #ffffff 8%, #ffffff 9%;

  $dory-background: linear-gradient(
    90deg,
    $dory-black 0%,
    lighten($dory-black, 3%) 50%,
    $dory-black 100%
  );

  font-family: $dory-text;
  color: $dory-white;

  &,
  button {
    font-family: $dory-text;
    color: $dory-white;
  }

  ion-alert .alert-wrapper {
    background-color: $dory-black;

    .alert-head h2 {
      font-family: $dory-text;
    }

    .alert-button-group button {
      color: $dory-white;
    }
  }

  .ion-page {
    width: 100%;
    height: 100vh;
    padding: var(--page-padding);
    background: $dory-background;

    button {
      text-transform: uppercase;
    }

    app-game-bar ion-list.game-bar ion-item ion-badge {
      font-family: $dory-text;
      color: $dory-white;
    }

    .page {
      position: relative;
      background-color: transparent;
      border: 3px solid;
      border-image-slice: 1;
      border-image-source: repeating-conic-gradient($dory-gradient);

      &.home .logo {
        height: functions.responsive-size(2.5rem, 3rem, 4.5vw);
        width: functions.responsive-size(15rem, 25rem, 40vw);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("^assets/icons/dory/title.svg");
        margin-top: -9px; // adjust with page padding
      }

      h2 {
        text-transform: lowercase;
      }

      .select {
        button {
          position: relative;

          &::before,
          &::after {
            position: absolute;
            font-size: 0.66rem;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: ">";
            right: -1rem;
          }

          &::before {
            content: "<";
            left: -1rem;
          }
        }
      }

      .playground {
        app-paddle {
          height: 30%;

          &:first-of-type div {
            background-image: url("^assets/icons/dory/paddle-left.svg");
          }
          &:last-of-type div {
            background-image: url("^assets/icons/dory/paddle-right.svg");
          }
        }

        app-ball {
          width: 3%;
          div {
            background-image: url("^assets/icons/dory/ball.svg");
          }
        }

        app-artifact span {
          $icons: ("enlarge", "reduce", "shield");
          @each $icon in $icons {
            &.#{$icon} {
              background-image: url("^assets/icons/dory/#{$icon}.svg");
              display: inline-block;
            }
          }
        }

        app-shield div {
          width: clamp(0.33rem, 0.45vw, 0.66rem);
          background: repeating-linear-gradient($dory-gradient);
        }
      }
    }
  }
}
