@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;
@use "abstracts/colors" as colors;

@font-face {
  font-family: "Press Start 2P";
  src: url("^assets/fonts/press-start-2p.woff") format("woff");
}

.retro-theme {
  $retro-font: "Press Start 2P", monospace;
  $retro-black: #090b0d;
  $retro-white: #fbfeff;

  $retro-gradient: #ff0000 0%, #ff8a00 12.5%, #faff00 25%, #52ff00 37.5%,
    #00ffc2 50%, #0047ff 62.5%, #7000ff 75%, #fa00ff 87.5%, #ff0000 100%;

  &,
  button {
    font-family: $retro-font;
    color: $retro-white;
  }

  ion-alert .alert-wrapper {
    background-color: $retro-black;

    .alert-head h2 {
      font-family: $retro-font;
    }

    .alert-button-group button {
      color: $retro-white;
    }
  }

  .ion-page {
    width: 100%;
    height: 100vh;
    padding: var(--page-padding);
    background-color: $retro-black;

    button {
      text-transform: uppercase;
    }

    app-play-pause-control button {
      font-size: functions.responsive-size(1rem, 1.125rem, 0.2vw);
    }

    app-score ion-list.score ion-item ion-badge {
      font-size: functions.responsive-size(1rem, 1.125rem, 0.2vw);
      font-family: $retro-font;
      color: $retro-white;
    }

    .page {
      position: relative;
      border-radius: var(--page-padding);
      border: double 4px transparent;
      background-image: linear-gradient($retro-black, $retro-black),
        conic-gradient(from 0, $retro-gradient);
      background-origin: border-box;
      background-clip: padding-box, border-box;

      &,
      &::before {
        width: 100%;
        height: 100%;
      }

      &::before {
        content: "";
        filter: blur(1rem);
        position: absolute;
        top: -4px;
        left: -4px;
        border: 4px solid;
        border-image-slice: 1;
        border-image-source: conic-gradient(from 0, $retro-gradient);
      }

      &.credits li,
      &.difficulty button,
      &.home nav {
        z-index: 10;
      }

      &.home nav a,
      &.difficulty button:not(:last-child) {
        padding-bottom: functions.responsive-size(1.75rem, 2rem, 2vw);
      }

      &.home .logo {
        background-image: url("^assets/icons/retro/title.svg");
        margin-top: -9px;
      }

      &.credits {
        .description {
          line-height: 2;
        }

        h3 {
          font-size: functions.responsive-size(0.66rem, 0.9rem, 0.9vw);
          margin: 0 0 1.75rem 0;
        }

        ul,
        .description {
          font-size: 0.55rem;
        }
      }

      h2 {
        text-transform: lowercase;
      }

      .select {
        button {
          position: relative;

          &::before,
          &::after {
            position: absolute;
            font-size: 0.66rem;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: ">";
            right: -1rem;
          }

          &::before {
            content: "<";
            left: -1rem;
          }
        }
      }

      .playground {
        app-ball div {
          background-image: url("^assets/icons/retro/ball.svg");
        }

        app-paddle div {
          background-image: url("^assets/icons/retro/paddle.svg");
        }

        app-artifact span {
          $icons: ("enlarge", "reduce", "shield");
          @each $icon in $icons {
            &.#{$icon} {
              background-image: url("^assets/icons/retro/#{$icon}.svg");
              display: inline-block;
            }
          }
        }

        app-shield div {
          width: clamp(0.2rem, 0.33vw, 0.5rem);
          background: repeating-linear-gradient(
            0,
            transparent,
            transparent 3vh,
            $retro-white 3vh,
            $retro-white 8vh
          );
        }
      }
    }
  }
}
