@use "abstracts/functions" as functions;
@use "abstracts/mixins" as mixins;
@use "abstracts/colors" as colors;

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap");

$font-title: "Monoton", cursive;
$font-text: "Press Start 2P", monospace;
$retro-black: #090b0d;
$retro-white: #fbfeff;
$playground-border-width: 2px;

$gradient: #ff0000 5%, #ff8a00 15%, #faff00 30%, #52ff00 40%, #00ffc2 50%,
  #0047ff 70%, #7000ff 85%, #fa00ff 95%;

.retro-theme {
  font-family: $font-text;
  color: $retro-white;

  &,
  button {
    font-family: $font-text;
    color: $retro-white;
  }

  ion-alert .alert-wrapper {
    background-color: $retro-black;
    padding: 0.5rem 2rem;
    text-align: center;
    .alert-head {
      margin-bottom: 1.33rem;
      h2 {
        font-family: $font-text;
        text-transform: lowercase;
        font-size: functions.responsive-size(1.33rem, 1.5rem, 0.33vw);
        text-align: center;
      }
    }
    .alert-button-group {
      flex-direction: column;
      button {
        border: 0;
        text-transform: uppercase;
        font-size: functions.responsive-size(0.75rem, 1.1rem, 0.15vw);
        color: $retro-white;
        display: block;
        span {
          justify-content: center;
        }
      }
    }
  }

  .ion-page {
    width: 100%;
    height: 100vh;

    button {
      text-transform: uppercase;
    }

    app-game-bar {
      ion-list.game-bar {
        background-color: transparent;
        padding: 0;
        border: 0;

        ion-item {
          &:nth-child(2) {
            margin: 0 2vw;
          }

          button,
          ion-badge {
            font-size: functions.responsive-size(1rem, 1.125rem, 0.2vw);
          }

          ion-badge {
            font-family: $font-text;
            background-color: transparent;
            color: $retro-white;
          }
        }
      }
    }

    .page {
      --angle: 0deg;
      border: 4px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(var(--angle), $gradient);
      filter: brightness(1.33);
      animation: 6.6s animate-border linear infinite;
      background-color: $retro-black;

      &.home .logo {
        height: functions.responsive-size(2.5rem, 3rem, 4.5vw);
        width: functions.responsive-size(15rem, 25rem, 40vw);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("^assets/icons/retro/title.svg");
        margin-top: -9px; // adjust with page padding
      }

      h2 {
        text-transform: lowercase;
      }

      .select {
        button {
          position: relative;
          &::before,
          &::after {
            position: absolute;
            font-size: 0.66rem;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: ">";
            right: -1rem;
          }

          &::before {
            content: "<";
            left: -1rem;
          }
        }
      }

      .playground {
        &::after {
          content: "";
          height: 100%;
          position: absolute;
          width: $playground-border-width;
          top: 0;
          left: calc(50% - $playground-border-width);
          transform: translateX(-50%);
          background-color: transparent;
          border-right: calc($playground-border-width * 1.5) dashed;
          border-color: rgba(colors.$white, 0.2);
        }

        app-paddle div,
        app-ball div,
        app-artifact span {
          background-color: $retro-white;
        }

        app-artifact {
          max-width: 1.75rem;
          span {
            $icons: ("enlarge", "reduce", "shield");
            @each $icon in $icons {
              &.#{$icon} {
                @include mixins.icon("retro/#{$icon}");
              }
            }
          }
        }
      }
    }
  }
}

@keyframes animate-border {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
