@use "abstracts/colors" as colors;

:host {
  position: absolute;
  width: 2.33%;
  max-width: 20px;
  aspect-ratio: 1/1;
  will-change: left, top;

  div {
    height: 100%;
    width: 100%;
    background-color: colors.$white;
  }
}
