:host {
  position: absolute;
  width: 2.33%;
  max-width: 17px;
  aspect-ratio: 1/1;

  div {
    background-color: var(--ion-color-dark);
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
