:host {
  height: 23.33%;
  max-height: 150px;
  position: absolute;

  div {
    background-color: var(--ion-color-dark);
    width: clamp(0.33rem, 0.66vw, 0.66rem);
    border-radius: 0.66rem;
    height: 100%;
  }
}
