@use "abstracts/mixins" as mixins;

:host {
  position: absolute;
  will-change: top;
  height: 25%;
  max-height: 75%;
  // width: 1.75%;
  // ! ensure the backgound images that will place in this div follows the ration behind

  div {
    aspect-ratio: 0.15/1; // prefered over width on container to simplify animations and overrides
    position: relative;
    height: 100%;
    @include mixins.background-image;
  }
}
