:host {
  position: relative;
  height: 100vh;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.25vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ion-text-color);
    opacity: 0.25;
  }
}
