@use "abstracts/mixins" as mixins;

:host {
  z-index: 102;

  ion-list {
    @include mixins.flex-row();
    border-radius: 0.75rem;
    padding: 0 0.25rem;
    background-color: rgba(var(--ion-color-dark-rgb), 0.1);
    border: 1px solid rgba(var(--ion-color-dark-rgb), 0.3);

    ion-item {
      --ion-item-background: transparent;
      display: inline-block;

      ion-button {
        --border-radius: 0.66rem;
        letter-spacing: 0.03rem;
        min-width: 80px;
      }

      ion-badge {
        font-size: 1.1rem;
        padding: 0.1rem 0.33rem;
        border-radius: 0.33rem;
      }
    }
  }
}
