@use "abstracts/mixins" as mixins;

:host {
  z-index: 102;

  ion-list {
    @include mixins.flex-row();

    ion-item {
      --ion-item-background: transparent;
      display: inline-block;

      ion-badge {
        font-size: 1.1rem;
        padding: 0.1rem 0.33rem;
        border-radius: 0.33rem;
      }
    }
  }
}
