<ion-list *ngIf="points$ | async as score">
  <ion-item>
    <ion-badge slot="end" color="medium">
      <b>{{ score.player1 }}</b>
    </ion-badge>
    <ion-label>Player 1</ion-label>
  </ion-item>
  <ion-item *ngIf="gameStatus$ | async as status">
    <ion-button
      (click)="start()"
      *ngIf="status === 'STOPPED'"
      color="primary"
      expand="block"
      size="defualt"
    >
      Start
    </ion-button>
    <ion-button
      (click)="pause()"
      *ngIf="status !== 'STOPPED'"
      fill="outline"
      color="primary"
      expand="block"
      size="defualt"
    >
      Pause
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-badge slot="end" color="medium">
      <b>{{ score.player2 }}</b>
    </ion-badge>
    <ion-label>Player 2</ion-label>
  </ion-item>
</ion-list>
