@use "abstracts/functions" as functions;

div {
  position: absolute;
  z-index: 102;
  bottom: functions.responsive-size(2.5rem, 3rem, 3vw);
  &.right {
    right: functions.responsive-size(2.5rem, 3rem, 3vw);
  }
  &.left {
    left: functions.responsive-size(2.5rem, 3rem, 3vw);
  }
}
