@use "abstracts/colors" as colors;
// @use "../../../../styles/abstracts/colors";

:host {
  height: 100vh;
  padding: 2rem 3.75rem;
  position: relative;
  background: colors.$ground-background;
  --playground-border-width: 1px;

  app-game-bar {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .playground {
    position: relative;
    height: 100%;
    border-top: var(--playground-border-width) solid
      rgba(var(--ion-color-dark-rgb), 0.15);
    border-bottom: var(--playground-border-width) solid
      rgba(var(--ion-color-dark-rgb), 0.15);
    border-left: calc(var(--playground-border-width) * 3) dashed
      rgba(var(--ion-color-dark-rgb), 0.15);
    border-right: calc(var(--playground-border-width) * 3) dashed
      rgba(var(--ion-color-dark-rgb), 0.15);
    border-radius: 1rem;

    &::after {
      content: "";
      height: 100%;
      position: absolute;
      width: var(--playground-border-width);
      top: 0;
      left: calc(50% - var(--playground-border-width));
      transform: translateX(-50%);
      background-color: transparent;
      border-right: calc(var(--playground-border-width) * 1.5) dashed;
      border-color: rgba(var(--ion-color-dark-rgb), 0.1);
    }
  }
}
