<app-game-bar></app-game-bar>
<div class="playground" *ngIf="fields$ | async as fields" #ground>
  <app-paddle
    appComputerController
    appResizePaddle
    [halfField]="fields.opponent"
  ></app-paddle>
  <app-ball></app-ball>
  <app-paddle
    appUserController
    appResizePaddle
    [halfField]="fields.user"
  ></app-paddle>
  <ng-template appRandomArtifactsGenerator></ng-template>
  <app-shield [halfField]="fields.opponent"></app-shield>
  <app-shield [halfField]="fields.user"></app-shield>
</div>
