<main class="page">
  <ng-container *ngIf="userField$ | async as userField">
    <ng-container *ngIf="opponentField$ | async as opponentField">
      <app-score></app-score>
      <app-play-pause-control [halfField]="userField"></app-play-pause-control>
      <div class="playground" #ground>
        <app-paddle
          appComputerController
          appResizePaddle
          [halfField]="opponentField"
        ></app-paddle>
        <app-ball></app-ball>
        <app-paddle
          appUserController
          appResizePaddle
          [halfField]="userField"
        ></app-paddle>
        <ng-template appRandomArtifactsGenerator></ng-template>
        <app-shield [halfField]="opponentField"></app-shield>
        <app-shield [halfField]="userField"></app-shield>
        <div class="goal">goal</div>
      </div>
    </ng-container>
  </ng-container>
</main>
