@use "abstracts/colors" as colors;

$ground-background: linear-gradient(
    90deg,
    rgba(colors.$primary-dark, 0) 0%,
    rgba(colors.$primary, 0.1) 30%,
    rgba(colors.$primary, 0.1) 70%,
    rgba(colors.$primary-dark, 0) 100%
  ),
  linear-gradient(
    90deg,
    colors.$primary-dark 0%,
    colors.$accent-dark 50%,
    colors.$primary-dark 100%
  );

:host {
  height: 100vh;
  padding: 2rem 3.75rem;
  position: relative;
  background: $ground-background;

  $playground-border-width: 1px;

  app-game-bar {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .playground {
    position: relative;
    height: 100%;
    border-top: calc($playground-border-width * 2) solid
      rgba(colors.$primary, 0.66);
    border-bottom: calc($playground-border-width * 2) solid
      rgba(colors.$primary, 0.66);
    border-left: calc($playground-border-width * 3) dashed
      rgba(colors.$primary, 0.66);
    border-right: calc($playground-border-width * 3) dashed
      rgba(colors.$primary, 0.66);
    border-radius: 1rem;
  }
}
