@use "abstracts/colors" as colors;

$grid-size: 19vh;

:host {
  height: 100vh;
  padding: 2rem 3.75rem;
  position: relative;
  background: colors.$black;

  $playground-border-width: 1px;

  app-game-bar {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .playground {
    position: relative;
    height: 100%;
    border-top: calc($playground-border-width * 2) solid
      rgba(colors.$white, 0.66);
    border-bottom: calc($playground-border-width * 2) solid
      rgba(colors.$white, 0.66);
    border-left: calc($playground-border-width * 3) dashed
      rgba(colors.$white, 0.66);
    border-right: calc($playground-border-width * 3) dashed
      rgba(colors.$white, 0.66);
    border-radius: 1rem;
  }
}
