@use "abstracts/mixins" as mixins;

:host {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 102;
  opacity: 0.66;

  ion-list {
    @include mixins.flex-row();

    ion-item {
      --ion-item-background: transparent;
      display: inline-block;

      ion-badge {
        padding: 0 0.75rem;
      }
    }
  }
}
